<% for (let i = 0; i < narrativa.length; i++) { %>
    <div>
        <p>
            Id: <%= narrativa[i].id %>
        </p>
    
        <p>
            Nome: <%= narrativa[i].nome %>
        </p>

        <p>
            Descrição: <%= narrativa[i].descricao %>
        </p>
    
        <p>
            Data de criação: <%= narrativa[i].criacao %>
        </p>
    
        <hr />
    
    </div>
    <% } %>