<div class="mb-3">
	<button type="button" class="btn btn-primary" onclick="adicionarEstado()"><i class="fa fa-plus"></i> Adicionar Estado</button>
</div>

<hr />

<%- contentFor("cardheader") %>
<div class="card-header">
	<div class="row align-items-center">
		<div class="col">
			<h6 class="m-0 font-weight-bold text-primary"><%=item.nome %></h6>
		</div>
	</div>
</div>

<%- contentFor("scripts") %>

<script type="text/javascript">

	$("#form").validate({

		rules: {
			// Aqui o que vale é o name, não o id!
			nome: {
				required: true,
				minlength: 3
			},
			descricao: {
				required: true, 
				minlength: 10
			}			
		},
		submitHandler: function (form) {
			// Não pode simplesmente fazer submitHandler: criarPessoa, porque criarPessoa() é async... :(
			CriarNarrativa(form);
		}
	});

	async function CriarNarrativa(form) {
        if (fetchAtivo) {
			return;
		}

		let opcoes = {
			method: "POST",
			body: new FormData(form)
		};

		try {
			let response = await fetch("/api/narrativa/criar", opcoes);

			if (response.ok) {
				// Limpa os campos para facilitar a criação da próxima pessoa.
				resetForm("#form");

				Swal.success("Narrativa criada com sucesso!");
			} else {
				Swal.error("Erro ao criar a narrativa!");
			}
		} catch (ex) {
			Swal.error("Erro de rede: " + ex.message);
		}
	}

</script>
