<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />	
	<title>Jogo</title>
	<style >
		body{
            background-image: url('/public/img/estados/3.jpg');
            background-repeat: no-repeat;
            background-position: center;
        }
	</style>

	<link rel="stylesheet" href="ex2.css">
</head>
<body>

    <p>TELA DE JOGO MALUCO</p>



		<script type="text/javascript">

        </script>	
</body>
</html>