<table class="table table-flush table-striped table-hover" id="tabela"></table>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	var tabela = prepareDataTable("tabela", {
		order: [[1, "asc"]],
		deferRender: true,
		columns: [
			{ title: "", "class": "col-min", searchable: false, orderable: false, data: "id",
				render: function (v, type, row) {
					return `
						<a target="_blank" title="Editar Propriedades" href="<%- root %>/narrativa/editar?id=${row.id}" class="btn btn-sm btn-outline-primary"><i class="fa fa-fw fa-edit"></i></a>
						<a target="_blank" title="Editar Narrativa" href="<%- root %>/narrativa/estados?id=${row.id}" class="btn btn-sm btn-outline-success"><i class="fa fa-fw fa-comments"></i></a>
						<button title="Excluir" type="button" data-excluir="1" class="btn btn-sm btn-outline-danger"><i class="fa fa-fw fa-times"></i></button>
					`;
				}
			},
			{ title: "Nome", render: encode, data: "nome" },
			{ title: "Usuário", render: encode, data: "usuario" },
			{ title: "Criação", "class": "col-min text-right", "type": "customdateint", data: "criacao" }
		],
		data: <%- JSON.stringify(lista) %>,
		export: { title: "Narrativas" }
	});

	$("#tabela").on("click", "tbody button", function () {
		if (fetchAtivo)
			return;

		var trClicada = this.parentNode.parentNode,
			nome = null,
			narrativa = tabela.row(trClicada).data();

		if (this.getAttribute("data-excluir")) {
			Swal.okcancel({
				html: 'Tem certeza que deseja excluir a "' + narrativa.nome + '"? Esta operação NÃO pode ser desfeita!<br/><br/>Para confirmar a exclusão, por favor, digite abaixo o nome da narrativa conforme exibido acima.<br/><br/><label for="txtExcluirNome">Nome da narrativa</label><input type="text" class="form-control" spellcheck="false" autocomplete="off" id="txtExcluirNome" />',
				confirmButtonText: "Excluir",
				preConfirm: function () {
					nome = $("#txtExcluirNome").val().toLowerCase();
					return true;
				}
			}, null, true).then(async function (result) {
				if (fetchAtivo || !trClicada)
					return;

				if (result.value) {
					if (nome !== narrativa.nome.toLowerCase()) {
						Swal.error("O nome da narrativa não confere! " + emoji.sad);
						return;
					}

					Swal.wait();

					try {
						let response = await fetch("/api/narrativa/excluir?id=" + narrativa.id);

						if (response.ok) {
							Swal.success("Narrativa excluída com sucesso! " + emoji.happy);
							tabela.row(trClicada).remove().draw();
						} else {
							Swal.error("Erro ao excluir a narrativa!");
						}

						trClicada = null;
					} catch (ex) {
						Swal.error("Erro de rede: " + ex.message);
					}
				}
			});
		}
	});

	//]]>
</script>
